.navbar-inverse {
  background-color: #2060ac;
}
.navbar-inverse .navbar-brand {
  color: white;
}
.navbar-inverse .navbar-nav>li>a {
  color: white;
}
.navbar-inverse .navbar-nav>.active>a {
  background-color: #a3b6dd;
}
.list-group-item.active {
  background-color: purple;
  border-color: red;
}
item.active, .list-group-item.active:hover {
  background-color: red;
  border-color: pink;
}